{% extends('base.html.twig') %}
{% block content %}
    <body data-spy="scroll" data-target=".navbar">
    <div class="page-preloader"></div>

    <div>
        <div class="container pr-title event-container-title2"  style="margin-top: 180px" >
            <h2>Catégorie</h2>


        </div>


    <div style="display: flex;justify-content: center">
        <div class="event-list-categorie" style="width:85%;">







            <div class="col-12 col-md-4 col-sm-6 col-xs-6 mix website">
                <figure class="imghvr-zoom-in">
                    <div class="event-figure">

                        <img class="img-fluid event-image-categorie" src="/ProjectPidev/web/images/EventCategorie/theatre.jpg" alt="Portfolio">


                        <div class="event-image-categorie-opacity">
                            <h1 class="event-categorie-titre">Théâtre</h1>
                        </div>

                    </div>

                    <!--   <figcaption style="display: flex; align-items: center; justify-content: center">
                           <h1>Théâtre</h1>

                              <p>Duis finibus nisi et diam rhoncus, non efficitur sem malesuada. Ut bibendum efficitur hendrerit. Fusce quis sodales diam.</p>

                               <i class="fas fa-plus fa-inverse fa-2x"></i>
                      </figcaption>-->

                    <a href="images/portfolio/1.jpg" class="portfolio-popup" title="Web Designing"></a>
                </figure>
            </div>

            <div class="col-12 col-md-4 col-sm-6 col-xs-6 mix website">
                <figure class="imghvr-zoom-in">
                    <div class="event-figure">

                        <img class="img-fluid event-image-categorie"
                             src="/ProjectPidev/web/images/EventCategorie/musique.jpg" alt="Portfolio">


                        <div class="event-image-categorie-opacity">
                            <h1 class="event-categorie-titre">Musique</h1>
                        </div>

                    </div>

                    <!--   <figcaption style="display: flex; align-items: center; justify-content: center">
                           <h1>Théâtre</h1>

                              <p>Duis finibus nisi et diam rhoncus, non efficitur sem malesuada. Ut bibendum efficitur hendrerit. Fusce quis sodales diam.</p>

                               <i class="fas fa-plus fa-inverse fa-2x"></i>
                      </figcaption>-->

                    <a href="images/portfolio/1.jpg" class="portfolio-popup" title="Web Designing"></a>
                </figure>
            </div>

            <div class="col-12 col-md-4 col-sm-6 col-xs-6 mix website">
                <figure class="imghvr-zoom-in">
                    <div class="event-figure">

                        <img class="img-fluid event-image-categorie" src="/ProjectPidev/web/images/EventCategorie/cinema.jpg" alt="Portfolio">


                        <div class="event-image-categorie-opacity">
                            <h1 class="event-categorie-titre">Cinéma</h1>
                        </div>

                    </div>

                    <!--   <figcaption style="display: flex; align-items: center; justify-content: center">
                           <h1>Théâtre</h1>

                              <p>Duis finibus nisi et diam rhoncus, non efficitur sem malesuada. Ut bibendum efficitur hendrerit. Fusce quis sodales diam.</p>

                               <i class="fas fa-plus fa-inverse fa-2x"></i>
                      </figcaption>-->

                    <a href="images/portfolio/1.jpg" class="portfolio-popup" title="Web Designing"></a>
                </figure>
            </div>

            <div class="col-12 col-md-4 col-sm-6 col-xs-6 mix website">
                <figure class="imghvr-zoom-in">
                    <div class="event-figure">

                        <img class="img-fluid event-image-categorie"
                             src="/ProjectPidev/web/images/EventCategorie/excursion.jpg" alt="Portfolio">


                        <div class="event-image-categorie-opacity">
                            <h1 class="event-categorie-titre">Excursion</h1>
                        </div>

                    </div>

                    <!--   <figcaption style="display: flex; align-items: center; justify-content: center">
                           <h1>Théâtre</h1>

                              <p>Duis finibus nisi et diam rhoncus, non efficitur sem malesuada. Ut bibendum efficitur hendrerit. Fusce quis sodales diam.</p>

                               <i class="fas fa-plus fa-inverse fa-2x"></i>
                      </figcaption>-->

                    <a href="images/portfolio/1.jpg" class="portfolio-popup" title="Web Designing"></a>
                </figure>
            </div>

            <div class="col-12 col-md-4 col-sm-6 col-xs-6 mix website">
                <figure class="imghvr-zoom-in">
                    <div class="event-figure">

                        <img class="img-fluid event-image-categorie" src="/ProjectPidev/web/images/EventCategorie/litterature.jpg" alt="Portfolio">


                        <div class="event-image-categorie-opacity">
                            <h1 class="event-categorie-titre">Littérature</h1>
                        </div>

                    </div>

                    <!--   <figcaption style="display: flex; align-items: center; justify-content: center">
                           <h1>Théâtre</h1>

                              <p>Duis finibus nisi et diam rhoncus, non efficitur sem malesuada. Ut bibendum efficitur hendrerit. Fusce quis sodales diam.</p>

                               <i class="fas fa-plus fa-inverse fa-2x"></i>
                      </figcaption>-->

                    <a href="images/portfolio/1.jpg" class="portfolio-popup" title="Web Designing"></a>
                </figure>
            </div>







        </div>


    </div>



    </div>


    <div class="container pr-title event-container-title2" >
        <h2>Événements</h2>


    </div>



    <div class="event-list-events">

        <figure class="imghvr-zoom-in event-list-events-item">
            <div class="event-list-events-figure">

                <img class="img-fluid event-list-events-image" src="/ProjectPidev/web/images/EventCategorie/event1.jpg" alt="Portfolio"
                >
                <div class="event-list-events-titres" >

                    <h1> Nom événement 1</h1>
                    <h2>- Lieu - Date - </h2>
                </div>

            </div>

            <figcaption class="event-list-events-figcaption">
                <h1>Afficher les détails</h1>


            </figcaption>

            <a href="images/portfolio/1.jpg" class="portfolio-popup" title="Web Designing"></a>
        </figure>

        <figure class="imghvr-zoom-in event-list-events-item">
            <div class="event-list-events-figure">

                <img class="img-fluid event-list-events-image" src="/ProjectPidev/web/images/EventCategorie/event2.jpg" alt="Portfolio"
                >
                <div class="event-list-events-titres" >

                    <h1> Nom événement 2</h1>
                    <h2>- Lieu - Date -</h2>
                </div>

            </div>

            <figcaption class="event-list-events-figcaption">
                <h1>Afficher les détails</h1>


            </figcaption>

            <a href="images/portfolio/1.jpg" class="portfolio-popup" title="Web Designing"></a>
        </figure>






    </div>
    </body>

{% endblock %}