{% extends('base.html.twig') %}
{% block content %}
        <body data-spy="scroll" data-target=".navbar">
        <div class="page-preloader"></div>
        <div style="height:500px; color:white;display: flex;justify-content: center;align-items: center">
            <h1>Loisirs</h1>
        </div>




        <div class="pr-overlay"></div>

        <a class="back-to-top"></a>

        </body>

{% endblock %}