{% extends('base.html.twig') %}

{% block content %}
    <!DOCTYPE html>


<body data-spy="scroll" data-target=".navbar">
<div class="page-preloader"></div>

<main class="one-page">
    <div class="pr-section pr-selected">

        <header class="banner banner-img" id="home">
            <div class="container pr-title">
                <div class="light-up-letters">40<span class="fade">4</span> err<span class="flicker">o</span>r p<span class="sparkle">a</span>ge</div>
            </div>
</main>

<div class="pr-overlay"></div>

<a class="back-to-top"></a>

</body>



{% endblock %}